.App,
.Useful,
.Useless {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
}

.navbar-links {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.navbar-links:hover {
  color: red !important;
}

.background {
  position: flex;
  height: auto;
  width: 100%;
}

.background-right {
  height: auto;
  width: 35%;
}

.background-left {
  height: auto;
  width: 35%;
}

.austin {
  height: auto;
  width: 30%;
}

.email-entry {
  background-color: black;
}
