.App,
.Useful,
.Useless {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
}

a:link {
  margin-right: 20px;
  text-decoration: none !important;
}

.navbar {
  background-color: #f4f7fa !important;
}
.navbar-links {
  color: black !important;
}
.navbar-links:hover {
  color: #bf0a2f !important;
}

.background {
  position: flex;
  height: auto;
  width: 100%;
}

.background-right {
  height: auto;
  width: 35%;
}

.background-left {
  height: auto;
  width: 35%;
}

.austin {
  height: auto;
  width: 30%;
}

.email-entry {
  background-color: black;
}

.date {
  text-align: center;
  font-size: 25px;
}

.details-div {
  text-align: center;
}
.details-image {
  max-height: auto;
  max-width: 100%;
}

.useless-info {
  text-align: center;
  font-size: 20px;
}

.email-footer {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  background-color: #f4f7fa;
  padding: 30px;
  max-width: 75%;
  border-radius: 10px;
}
